.single-card {
    height: 130px;
    width: 95px;
    margin: 0 0.3rem;
}

.back-card {
    height: 130px;
    width: 95px;
    margin: 0 0.4rem;
}

@media (max-height: 800px) {
    .chips-container {
        width: 30%;
        height: 60%;
        padding: 4rem 3rem;
    }
}