@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');

:root {
    --primary-color: #FFD700;
    --primary-dark-1: #f3cf08;
    --primary-dark: #ffb302;
    --primary-dark-2: #d89b0b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 2rem;
    height: 100vh;

    display: flex;
    align-items: center;
    /*Main center Y axis*/
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    background: url('/src/img/green_carpet.jpeg');
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-family: Montserrat, sans-serif;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
    transition: 220ms all ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.02);
}

.btn:active {
    transform: translateY(0.5rem);
    transform: scale(0.9);
    box-shadow: none;
}

img {
    width: 240px;
    height: 220px;
}

.overlay,
.overlay-gameover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    transition: all 0.5s;

    z-index: 5;
}

.overlay-gameover {
    background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* .overlay-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #023047;
    opacity: 0.6;
    z-index: 25;
}

.overlay-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #023047;
    opacity: 0.3;
    z-index: 25;
} */

/* /////////////////////////////////////  Main Container  //////////////////////////////////////////// */

.main-container {
    width: 70%;
    height: 80%;
    padding: 0 10rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    border-radius: 100px;
    border: 3px var(--primary-color) solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container {
    width: 90%;
    height: 90%;
    align-items: space-between;
    /* border: 1px blue solid; */
}


.play-container {
    height: 33%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px black solid; */
}

.single-card {
    height: 170px;
    width: 135px;
    margin: 0 0.4rem;
}

.back-card {
    height: 170px;
    width: 140px;
    margin: 0 0.4rem;
}

/* /////////////////////////////////////////  Center part - hit and stay and image  /////////////////////// */

.status-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.status-container button {
    height: 8rem;
    width: 8rem;

    border-radius: 50%;
    text-align: center;
    background-color: var(--primary-color);
}

.btn-main {
    font-size: 2rem;

    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 8px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(175deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4));
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 30%, transparent 50%, rgba(0, 0, 0, 0.4) 100%); */
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--primary-dark-1) inset;
}

.btn-main:hover {
    cursor: pointer;
}

.btn-main:active {
    transform: scale(0.9);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(175deg, var(--primary-dark), var(--primary-dark));
}


/* ///////////////////////////////////////  Score value sum  ////////////////////////////////// */

.score {
    display: flex;
    float: right;
    height: 75%;
    /* border: 1px red solid; */
}

.score-content {
    float: right;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* border: 1px green solid; */
}

.card-sum {
    height: 4rem;
    width: 4rem;

    background-color: var(--primary-color);
    border: 3px solid var(--primary-dark-2);
    border-radius: 50%;
    display: flex;
    /* background-color: rgb(12, 143, 12);
    border: 3px solid greenyellow; */
}

.sum-amount {
    margin: auto;
}

/* /////////////////////////////////////// */
/* /////////////////////////////////////// */


/* ///////////////////////////////////////  Chips bet modal  /////////////////////////////////// */

.chips-container {
    position: fixed;
    top: 150%;
    left: 50%;
    width: 30%;
    height: 50%;
    padding: 4rem 3rem;

    background-color: white;
    border: solid 3px red;
    border-radius: 40px;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);

    transform: translate(-50%, -50%);
    transition: all 0.7s;
    z-index: 10;
}

/* .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 3.5rem;
    cursor: pointer;
    border: none;
    background: none;
} */

.chips-btn {
    height: 60%;
    width: 100%;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* border: solid 1.5px red; */
}

.single-chip {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.small-chip {
    height: 90px;
    width: 120px;
}

.five-chip {
    height: 95px;
    width: 95px;
}

.single-chip:hover,
.small-chip:hover,
.five-chip:hover {
    cursor: pointer;
}

.single-chip:active,
.small-chip:active,
.five-chip:active {
    transform: scale(0.95);
}


.chips-modal-p,
.chips-value-total {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    color: var(--primary-dark-2);
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.chips-value-total {
    font-size: 2.5rem;
    margin: 1rem 0;

    color: var(--primary-dark);
}

.modal-btns {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1rem;
}

.btn-place-bet,
.btn-modal-quit {
    font-size: 1.5rem;
    padding: 0.5rem;

    color: white;
    background-color: var(--primary-dark-2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-modal-quit {
    background-color: rgb(198, 16, 16);
}

/* ///////////////////////////////// */


/* ////////////////////////////////////// Alert in the modal  ////////////////////////////////////////// */

.alert-box {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 15rem;
    width: 300px;

    color: #404040;
    background-color: #fff;
    border-radius: 0.8rem;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.alert-message {
    width: 100%;
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.4;
}

.alert-buttons {
    width: 100%;
    text-align: center;
    border-top: thin solid #ddd;
}

.alert-buttons a {
    font-size: 1.5rem;
    width: 49%;
    line-height: 40px;

    text-decoration: none;
    display: inline-block;
    color: #404040;
    border-right: thin solid #ddd;
}

.alert-buttons a:last-of-type {
    border-right: none;
}

.alert-buttons a:hover {
    color: #358cc6;
}

/* //////////////////////////////////// */
/* //////////////////////////////////// */


/* //////////////////////////////////////////   flash message css   //////////////////////////////////*/

@keyframes flashanime {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.success_container,
.error_container,
.jackpot_container,
.loose-game,
.quit-game,
.welcome_chips {

    max-height: 100px;
    max-width: 100%;

    display: flex;
    position: fixed;
    color: white;
    transition: all 1s;
    z-index: 200;
    /*animation: flashanime 0.8s alternate infinite ease-in;*/
}

/* .jackpot_container {
    left: 41%;
} */

.block {
    width: 100%;
    padding: 0 0.6rem;

    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    border-radius: 1.25rem;
    background-color: #1bb42c;
    border: 0.2rem solid #0e5a0f;
}

.error_block {
    background-color: rgba(217, 4, 41, 0.9);
    border: 0.2rem solid rgba(150, 9, 32, 0.9);
}

.loose_block {
    border: 0.2rem solid rgba(165, 155, 157, 0.9);
    background-color: rgb(72, 69, 70);
}

.quit_block {
    border: 0.2rem solid var(--primary-dark-2);
    background-color: var(--primary-dark);
}

.imager img {
    width: 65px;
    height: 70px;
    margin: 10px;
    z-index: 125;
}

.message .head {
    font-size: 2rem;
    margin: 10px 10px 0px 10px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 100;
}

.message p {
    margin: 0.6rem;
    font-size: 1.8rem;

    font-family: 'Source Code Pro', monospace;
    z-index: 100;
}

.undo {
    padding-bottom: 3rem;
    font-size: 2rem;

    font-weight: 100;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/* //////////////////////////////////////////
///////////////////////////////////////// */

/* ///////////////////////////////////////// Highscore  ////////////////////////////////////////// */

.highscore-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 6%;
    height: 5%;
    margin-top: 2rem;
    margin-right: 8rem;

    display: flex;
    justify-content: space-around;
    /* border: 1px salmon solid; */
}

.highscore-image img {
    width: 3rem;
    height: 3rem;
}

.highscore {
    font-size: 3rem;
    font-weight: 550;

    color: var(--primary-dark);
    font-family: Arial, Helvetica, sans-serif;
}

/* ///////////////////////////////////////////////
////////////////////////////////////////////// */


/* ////////////////////////////////////////  How to play Guide  ////////////////////////////////////// */

.guide-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    height: 5%;
    /* border: 1px solid snow; */
    margin-top: 2rem;
    margin-left: 8rem;
}

.guide-image img {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.guide-container {
    position: absolute;
    width: 70%;
    height: 80%;
    margin: auto;
    padding: 2rem 4rem;

    /* transform: translate(-50%, -50%); */
    border-radius: 40px;
    border: solid 3px rgb(99, 244, 99);
    background-color: white;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);

    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url('/src/img/bgd_menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    transition: all 0.5s;
    z-index: 35;
}

.guide-header {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;

    /* text-decoration: underline; */

    color: var(--primary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 40;
}

.guide-message {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 40;
}

.btn-guide {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-guide-modal {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;

    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 0.3rem;
    background-color: var(--primary-dark-2);
    color: #f5f5f2;
}

.btn-guide-modal:hover {
    background-color: green;
}

.welcome_chips {
    max-height: 100px;
    max-width: 55%;

    margin: auto;
    position: relative;
    z-index: 35;
    /*animation: flashanime 0.8s alternate infinite ease-in;*/
}

.guide-image-card-hidden {
    width: 15rem;
    height: 9rem;
    margin-bottom: 1rem;
    /* border: 1px solid rebeccapurple; */
}

.guide-image-card-values {
    margin: auto;
    width: 50rem;
    height: 30rem;
}

.guide-image-card-hidden img,
.guide-image-card-values img {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;

}

.guide-highlight {
    color: var(--primary-dark-2);
    font-weight: bold;
}

.guide-win {
    color: rgb(27, 200, 27);
    font-weight: bold;

}

.guide-loose {
    color: rgb(233, 38, 38);
    font-weight: bold;

    line-height: 1.5;
}

.close-guide {
    display: flex;
    justify-content: flex-end;
}

.close-guide-modal {
    height: 2.3rem;
    width: 2.3rem;
    position: fixed;

    text-align: center;
    background-color: rgb(104, 103, 103, 0.3);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    transition: all 0.5s;
}

.close-guide-modal:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.m4 {
    margin-top: 4rem;
}

/* //////////////////////////////////////////////
/* /////////////////////////////////////////// */

/* ///////////////////////////////////////////// Game open & Game over  /////////////////////////////////////// */

.gameover-container,
.gameopen-container {
    position: fixed;
    width: 70%;
    height: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    z-index: 50;
}

.gameover-container img,
.gameopen-container img {
    width: 50%;
    height: 50%;
    top: -60%;
    left: 50%;

    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s linear 0s;
}

.gameopen-container img {
    top: 40%;
    left: -50%;
}

.btn-newgame,
.btn-game-open {
    position: absolute;
    top: 170%;
    left: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 30%;

    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--primary-dark);
    color: white;

    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s linear 0s;
}

.btn-game-open {
    top: 70%;
    left: 150%;
}

.gameopen-container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url('/src/img/bgd_menu.png');
    background-repeat: no-repeat;
    background-size: cover;
}