* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background: url('/src/img/green_carpet.jpeg');
    display: flex;
    align-items: center;
    /*Main center Y axis*/
    justify-content: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: row;
    border: 3px #FFD700 solid;
    border-radius: 100px;
    padding: 0 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background: url('/src/img/bgd_menu.png'); */
    /* align-content: space-between; */
}

.container {
    text-align: center;
    /* border: 1px blue solid; */

}

.play-container {
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    /* border: 1px green solid; */
    padding: 0 8rem;

}

.score {
    display: flex;
    /* border: 1px red solid; */
    flex-direction: row;
}

.score-content {
    display: inherit;
    flex-direction: column;
    /* align-content: flex-end; */
    justify-content: space-around;
    text-align: center;
    /* border: 1px green solid; */
}

.cards-container {
    padding: 0 2rem;
}

.sum-amount {
    padding: 2rem;
    background-color: gold;
    border-radius: 50%;
}

/* img {
    height: 240px;
    width: 220px;
} */

img {
    /* float: left; */
    width: 240px;
    height: 220px;
    /* object-fit: cover; */
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 2rem;
    /* width: 3rem; */
    border-radius: 1rem;
    background-color: goldenrod;
    text-decoration: none;
}

.single-card {
    height: 170px;
    width: 135px;
}


.back-card {
    height: 200px;
    width: 200px;
    /* margin-top: 100px; */
}



/* vv */