@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');

:root {
    --primary-color: #FFD700;
    --primary-dark: #ffb302;
    --primary-dark-2: #d89b0b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background: url('/src/img/green_carpet.jpeg');
    display: flex;
    align-items: center;
    /*Main center Y axis*/
    justify-content: center;
    height: 100vh;
}

.main-container {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    border-radius: 100px;
    border: 3px var(--primary-color) solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background: url('/src/img/bgd_menu.png'); */
}

.container {
    width: 90%;
    height: 90%;
    align-items: space-between;
    /* text-align: center; */
    /* border: 1px blue solid; */
}


.play-container {
    display: flex;
    flex-direction: row;
    /* border: 1px black solid; */
    /* margin: 3rem 0;
    padding: 0 8rem; */
    height: 33%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    /* border: 1px red solid; */
    float: right;
    height: 75%;
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    /* margin-right: auto; */

}

.score-content {
    float: right;
    display: inherit;
    flex-direction: column;
    /* align-content: flex-end; */
    justify-content: space-between;
    text-align: center;
    /* border: 1px green solid; */
}

.cards-container {
    padding: 0 2rem;
}

.sum-amount {
    padding: 1rem;
    height: 1rem;
    width: 10rem;
    background-color: var(--primary-color);
    /* border: 1px red solid; */
    border-radius: 50%;
}

/* img {
    height: 240px;
    width: 220px;
} */

img {
    /* float: left; */
    width: 240px;
    height: 220px;
    /* object-fit: cover; */
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 2rem;
    /* width: 3rem; */
    border-radius: 1rem;
    background-color: var(--primary-dark);
    text-decoration: none;
}

.single-card {
    height: 170px;
    width: 135px;
    margin: 0 0.4rem;
}


.back-card {
    height: 170px;
    width: 140px;
    margin: 0 0.4rem;

    /* margin-top: 100px; */
}

.chips-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 40px;
    border: solid 3px red;

    /* padding: 5rem 6rem; */
    padding: 4rem 3rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
    z-index: 10;
    transition: all 0.5s;
}

.btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 3.5rem;
    cursor: pointer;
    border: none;
    background: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 5;
    transition: all 0.5s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.single-chip {
    /* transform: scale(0.7);// */
    height: 80px;
    width: 80px;
}

.small-chip {
    height: 90px;
    width: 120px;
    border-radius: 50%;
}

.first-chip {
    margin: 0 0.5rem;
}

.five-chip {
    height: 95px;
    width: 95px;
    margin: 0 0.8rem;
    border-radius: 50%;
}

.chips-modal-p,
.chips-value-total {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-dark-2);
    font-weight: bold;
}

.chips-value-total {
    color: var(--primary-dark);
    font-size: 2.5rem;
    margin: 1rem 0;
}

.btn-place-bet {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    background-color: var(--primary-dark-2);
    color: white;
    padding: 0.5rem;
    width: 100%;
}

.chips-btn {
    text-align: center;
    /* border: #d89b0b 1px solid; */
}

/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

/* flash message css */

.success_container,
.jackpot_container {
    max-height: 100px;
    max-width: 100%;
    display: block;
    position: fixed;
    top: 40%;
    left: 36%;
    color: white;
    z-index: 200;
}

.jackpot_container {
    left: 41%;
}

.block {
    display: flex;
    background-color: #1bb42c;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0.6rem;
    border-radius: 1.25rem;
    border: 0.2rem solid #0e5a0f;
}

.imager img {
    width: 65px;
    height: 70px;
    margin: 10px;
    z-index: 1000;
}


.message .head {
    margin: 10px 10px 0px 10px;
    z-index: 10000;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.message p {
    margin: 0.6rem;
    z-index: 1000;
    font-size: 1.8rem;
    font-family: 'Source Code Pro', monospace;
}

.undo {
    padding-bottom: 3rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 100;
    cursor: pointer;
}

/* 
@media(max-width:700px) {
    .success_container {
        position: absolute;
        max-height: 70px;
        max-width: 70%;
        left: 50px;
        color: white;
        z-index: 10000;
    }

    .message .head {
        margin: 10px 10px 0px 10px;
        font-weight: 600;

        font-size: medium;
    }

    .message p {
        font-size: small;
        margin: 10px;
    }
} */

/* Here Success alert is completed */
.error_container {

    max-height: 100px;
    max-width: 100%;
    display: block;
    position: fixed;
    top: 40%;
    left: 36%;
    color: white;
    z-index: 200;
    transition: all 1s;
    /* margin: 20px; */
}

.error_block {
    display: flex;
    background-color: rgba(217, 4, 41, 0.9);
    border: 0.2rem solid rgba(150, 9, 32, 0.9);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0.6rem;
    border-radius: 1.25rem;
}

.error_imager img {
    width: 60px;
    height: 70px;
    margin: 10px;
    z-index: 1000;

}

.error_message .error_head {
    margin: 10px 10px 0px 10px;
    z-index: 1000;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error_message p {
    margin: 10px;
    z-index: 1000;
    font-size: 1.8rem;
    font-family: 'Source Code Pro', monospace;
}

/*
@media(max-width:700px) {
    .error_container {
        position: absolute;
        max-height: 70px;
        max-width: 70%;
        left: 50px;
        color: white;
        z-index: 10000;
    }

    .error .error_head {
        margin: 10px 10px 0px 10px;
        font-weight: 600;

        font-size: medium;
    }

    .error_message p {
        font-size: small;
        margin: 10px;
    }
}

a {
    color: #fff
} */

.overlay-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #023047;
    opacity: 0.6;
    z-index: 25;
}

.overlay-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #023047;
    opacity: 0.3;
    z-index: 25;
}